.svgBox {
    width:200px;
    height: 200px;
}

.svgBox svg {width:100%; height: 100%;}

/*3_gingerbread*/
.head {
    fill: #cd803d;
}
.eye {
    fill: white;
}
.mouth {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

.limb {
    stroke: #cd803d;
    stroke-width: 35px;
    stroke-linecap: round;
}
.button {
    fill: black;
}


/*4_house*/
.house {
    stroke: black;
    stroke-width: 2px;
    fill: white;
  }
  
.house .roof {
fill: none;
stroke: #d1495b;
stroke-width: 10px;
stroke-linecap: round;
}

.house .door {
fill: #d1495b;
}

.house .stair {
fill: gray;
}

.house .window {
fill: #fdea96;
}

.house .window-sill {
fill: #d1495b;
stroke-linecap: round;
}


/*windmill*/

.windmill_head {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*present*/

.pbox {
    fill: #d1495b;
    stroke: black;
    stroke-width: 2px;
}
  
.pstripe {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}
  
.pribbon {
    stroke: #b73a3b;
    stroke-width: 4px;
    fill: none;
}