.svgBox {
    width:200px;
    height: 200px;
}

.svgBox svg {width:100%; height: 100%;}

/*3_gingerbread*/
.head {
    fill: #cd803d;
}
.eye {
    fill: white;
}
.mouth {
    fill: none;
    stroke: white;
    strokeWidth: 2px;
}

.limb {
    stroke: #cd803d;
    strokeWidth: 35px;
    strokeLinecap: round;
}
.button {
    fill: black;
}


/*4_house*/
.house {
    stroke: black;
    strokeWidth: 2px;
    fill: white;
  }
  
.house .roof {
fill: none;
stroke: #d1495b;
strokeWidth: 10px;
strokeLinecap: round;
}

.house .door {
fill: #d1495b;
}

.house .stair {
fill: gray;
}

.house .window {
fill: #fdea96;
}

.house .window-sill {
fill: #d1495b;
strokeLinecap: round;
}
